extends layout

block header
	h1 Magellan's Awe$ome Trip
	h2 Your #{locations[5].order} stop is #{locations[5].title}, #{locations[5].description}

block content
	img(src="#{locations[5].imgurl}", alt="#{locations[5].title}")

block sidebar
	a(href="#{locations[5].next}")
		i.fa.fa-arrow-right.fa-2x