extends layout

block header
	h1 Magellan's Awe$ome Trip
	h2 Your #{locations.order} stop is #{locations.title}, #{locations.description}

block content
	img(src="#{locations.imgurl}", alt="#{locations.title}")

block sidebar
	a(href="#{locations.next}")
		i.fa.fa-arrow-right.fa-2x