extends layout

block header
	h1 Magellan's Awe$ome Trip
	h2 Your #{locations[3].order} stop is #{locations[3].title}, #{locations[3].description}

block content
	img(src="#{locations[3].imgurl}", alt="#{locations[3].title}")

block sidebar
	a(href="#{locations[3].next}")
		i.fa.fa-arrow-right.fa-2x